.header-section {
  background-color: #00cc99;
  padding-top: 10px;
  padding-left: 50px;
}

.name, .header {
  color: white;
}

.designation {
  color: #181818;
}

.footer-section {
  background-color: #00cc99;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
}

.link {
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  transition: all .2s ease-in-out;
}

.link:hover {
  color: #0099ff;
  transform: scale(1.1);
  /*background-color: transparent;*/
}

.skills-section, .contact-section {
  background-color: white;
  padding-right: 50px;
  padding-left: 80px;
  padding-bottom: 40px;
}

.skills-ind {
  padding-top: 5px;
}
.projects-section {
  background-color:#00cc99;
  padding-bottom:20px;
  padding-left: 50px;
  padding-right: 50px;
}

.picture-section {
  background-size:100% auto;
}

.bio-section {
  background-color: #00cc99;
  padding-top: 10px;
  padding-left: 50px;
}

.contact-section {
  margin-bottom: 400px;
}

.social-links {
  margin-bottom: 20px;
}

.footer-details {
  color: white;
}
